{% extends "base.html" %}
{% load static %}
{% block body %}
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>How it Works</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- How it works -->
		<div class="work-section">
			<div class="container">
				<h2 class="w3-head">How It Works</h2>
					<div class="work-section-head text-center">
						<p>Fast, easy and free to post an ad and you will find, what you are looking for.</p>
					</div>
					<div class="work-section-grids text-center">
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-pencil-square-o"></i>
							<h4>Post an Ad</h4>
							<p>Don't ask for any prepayments before delivery!</p>
							<span class="arrow1"><img src="{% static 'images/arrow1.png' %}" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-eye"></i>
							<h4>Find an item</h4>
							<p>Check out item's quality and make sure it meets your expectations before you make a payment</p>
							<span class="arrow2"><img src="{% static 'images/arrow2.png' %}" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-phone"></i>
							<h4>contact the seller</h4>
							<p>Never pay before purchase! You can discuss the cost of delivery, but you can pay for the product only AFTER delivery is done.</p>
							<span class="arrow1"><img src="{% static 'images/arrow1.png' %}" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-money"></i>
							<h4>make transactions</h4>
							<p>Never give out your financial information
Including bank account details, eBay/PayPal info and any other information that could be misused</p>
						</div>
						<div class="clearfix"></div>
						<a class="work" href="{% url 'create' %}">Get started Now</a>
					</div>
				</div>
		</div>	
	<!-- // How it works -->
{% endblock body %}